<h1>Edit Stable</h1>
<%= form_with(model: @stable, local: true) do |form| %>
  <% if @stable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stable.errors.count, "error") %> prohibited this stable from being saved:</h2>
      <ul>
        <% @stable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h2>Address</h2>
  <%= form.fields_for :address do |address_form| %>
    <div class="field">
      <%= address_form.label :line1 %>
      <%= address_form.text_field :line1 %>
    </div>
    <div class="field">
      <%= address_form.label :zipcode %>
      <%= address_form.text_field :zipcode %>
    </div>
    <div class="field">
      <%= address_form.label :city %>
      <%= address_form.text_field :city %>
    </div>
    <div class="field">
      <%= address_form.label :country %>
      <%= address_form.text_field :country %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', stables_path , style: 'background-color: black; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;' %>
